body {
  cursor: url('../../assets/cursor.svg'), auto;
}

body:hover{
  cursor: url('../../assets/cursor.svg'), auto;
}

a{
  cursor: url('../../assets/cursor.svg'), auto;
}

a:hover{
  cursor: url('../../assets/cursor.svg'), auto;
}

button{
  cursor: url('../../assets/cursor.svg'), auto;
}

button:hover{
  cursor: url('../../assets/cursor.svg'), auto;
}

p{
  cursor: url('../../assets/cursor.svg'), auto;
}
p:hover{
  cursor: url('../../assets/cursor.svg'), auto;
}

div{
  cursor: url('../../assets/cursor.svg'), auto;
}
div:hover{
  cursor: url('../../assets/cursor.svg'), auto;
}

section{
  cursor: url('../../assets/cursor.svg'), auto;
}
section:hover{
  cursor: url('../../assets/cursor.svg'), auto;
}