#closseButton {
  display: flex;
  background-color: #ff4136;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

#closseButton:hover {
  background-color: #d52f22; /* Cor de fundo mais escura quando o mouse passa sobre o botão */
  cursor: pointer;
}
