#mudarContraste {
  padding: 10px 20px; /* Adicione preenchimento ao botão para melhor legibilidade e aparência */
  font-size: 16px; /* Tamanho da fonte do botão */
  background-color: #f39c12; /* Cor de fundo amarela para o botão de mudar contraste */
  color: #fff; /* Cor do texto no botão (branco) */
  border: none; /* Remova a borda do botão */
  border-radius: 5px; /* Adicione cantos arredondados ao botão */
  text-align: center; /* Centralize o texto no botão */
}

#mudarContraste:hover {
  background-color: #e08c0b; /* Cor de fundo mais escura quando o mouse passa sobre o botão */
}
