#aumentarFonte {
    padding: 10px 20px; /* Adicione preenchimento ao botão para melhor legibilidade e aparência */
    font-size: 16px; /* Tamanho da fonte do botão */
    background-color: #28a745; /* Cor de fundo verde para o botão de aumentar fonte */
    color: #fff; /* Cor do texto no botão (branco) */
    border: none; /* Remova a borda do botão */
    border-radius: 5px; /* Adicione cantos arredondados ao botão */
    text-align: center; /* Centralize o texto no botão */
  }
  
  #aumentarFonte:hover {
    background-color: #218838; /* Cor de fundo mais escura quando o mouse passa sobre o botão */
  }
  